@font-face {
	font-family: 'cherryswash';
	src: url('../fonts/cherrywash/cherryswash-regular-webfont.eot');
	src: url('../fonts/cherrywash/cherryswash-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/cherrywash/cherryswash-regular-webfont.woff') format('woff'),
		 url('../fonts/cherrywash/cherryswash-regular-webfont.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'helvetica_light_condebsed';
	src: url('../fonts/helvetica/Helvetica-Condensed-Light.eot');
	src: url('../fonts/helvetica/Helvetica-Condensed-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helvetica/Helvetica-Condensed-Light.woff') format('woff'),
		 url('../fonts/helvetica/Helvetica-Condensed-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: 'helvetica_light';
	src: url('../fonts/helvetica_light/HelveticaLTStd-Light.eot');
	src: url('../fonts/helvetica_light/HelveticaLTStd-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helvetica_light/HelveticaLTStd-Light.woff') format('woff'),
		 url('../fonts/helvetica_light/HelveticaLTStd-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'helvetica_bold';
	src: url('../fonts/helvetica_bold/HelveticaLTStd-Bold.eot');
	src: url('../fonts/helvetica_bold/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helvetica_bold/HelveticaLTStd-Bold.woff') format('woff'),
		 url('../fonts/helvetica_bold/HelveticaLTStd-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'helvetica_roman';
	src: url('../fonts/helvetica_roman/HelveticaLTStd-Roman.eot');
	src: url('../fonts/helvetica_roman/HelveticaLTStd-Roman.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helvetica_roman/HelveticaLTStd-Roman.woff') format('woff'),
		 url('../fonts/helvetica_roman/HelveticaLTStd-Roman.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}